 <body id="login-background"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well vertical-center">
          <center>
          <h2>Sign in</h2>
          <p>You need to sign in to get to your notes!</p>
          <div class="btn btn-primary btn-lg">
            <%= link_to fa_icon("sign-in", text: "Sign in with Facebook"), "/auth/facebook", class: "navbar-text-color", id: "sign-in" %>
          </div>
        </div>
      </div>
    </div>
  </div>    
</body>