<body id="home-page">
  </div>
    <div class="jumbotron text-center">
      <h1><%= fa_icon 'calendar-plus-o' %>&nbspTask-tacular</h1>
      <p id="subheader">Stay spectacular!</p>
      <p><%= link_to "Get started", user_tasks_url, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</body>