</div>
  <div class="jumbotron text-center">
    <h1><%= fa_icon 'calendar-plus-o' %>&nbspTasktacular</h1>
    <p>Stay spectacular with Tasktacular!</p>
    <p><%= link_to "Get started", user_tasks_url, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>
