// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";

body {
  padding-top: 70px;
}

div#task-form {
  display: none;
}

.task a[data-method="delete"]:hover {
  text-decoration: line-through;
}