// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";

//Example of SCSS code.
$primary_blue : #00B4FF;
$darker_blue : #00A3E7;

body {
  padding-top: 70px;
}

#home-page {
  background-color: #337ab7;
}

div#task-form {
  display: none;
}

.task a[data-method="delete"]:hover {
  text-decoration: line-through;
}

//SCSS code being implemented.
h1 {
  color: $darker_blue;
}

.jumbotron {
  background-image: image-url("yellow_1100height.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -35px;
  height: 800px;
  color: #fff;
  text-shadow: 1px 1px #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7em;
}

.jumbotron h1 {
  margin-top: 150px;
  font-family: 'Mr Dafoe', cursive;
  font-weight: 450;
  font-size: 3.3em;
}

#subheader {
  font-weight: 800;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  background-color: #337ab7;
}

.navbar-text-color {
  color: #fff !important;
}

.navbar-text-color:hover {
  color: #feca00 !important;
}

.navbar-brand {
  padding-left: 20px;
}

.btn.btn-primary.btn-lg:hover {
  color: #feca00;
}

.vertical-center {
  margin-top: 90px;
}

#login-background {
  background-image: image-url("typing.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -35px;
  height: 1000px;
}

#sign-in {
  text-decoration: none;
}



