<li>
  <%= user_task.description %>
  <%= user_task.due %>
  <%= link_to "Edit", edit_user_task_path(user_task), remote: true %>
  <%= link_to "Delete", user_task, remote: true, method: :delete, data: { confirm: 'Are you sure?'} %>
</li>