<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <ul>
    <%= render @user_tasks %>
  </ul>
</div>

<br>

<%= link_to 'New User task', new_user_task_path, remote: true, class: "btn btn-success" %>

<div id="task-form"></div>