<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="row">
  <div class="col-sm-3">
    <%= link_to new_user_task_path, remote: true do %>
      <button class="btn btn-success"><%= fa_icon "plus" %> Add Task</button>

    <% end %>

    <div id="task-form"></div>
  </div>



  <div class="col-sm-9">
    <div id="tasks">
      <ul>
        <%= render @user_tasks %>
      </ul>
    </div>
   </div>
<!-- TODO: Add pagination settings here-->
</div> <!-- row -->
<br>

